#navbar {
    position: fixed;
    top: 0px;
    height: 3rem;
    width: 100%;
    right: auto;
    left: auto;
    z-index: 3;
    padding: 0rem 3rem;
    box-sizing: border-box;
    color: var(--font);
    background: var(--primary-background);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.595);
    justify-content: end;
}

#components {
    gap: 2.5rem;

    button {
        color: var(--font);
        background: var(--primary-background);
    }
}

@media (max-width: 424px) {
    #navbar {
        padding: 0rem 2rem;
    }
    #components {
        width: 100%;
        justify-content: space-between;
        button {
            font-size: 0.7rem;
        }
    }
}

@media (max-width: 374px) {
    #components {
        button {
            font-size: 0.6rem;
        }
    }
}

@media (max-width: 320px) {
    #navbar { 
        max-width: 320px;
    }

        #components {
            gap: 0rem;
            justify-content: space-between;
            max-width: 256px;
    }
}