#product {
    height: 100vh;
    grid-template: 1fr 1fr / 1fr;
    row-gap: 3rem;
    justify-items: center;
    justify-content: center;
    padding: 6rem 0rem 3rem 0rem;
    box-sizing: border-box;
    background: var(--primary-background);
    position: sticky;
    top: 0px;

    >div {
        width: 60%;
        grid-template: auto / repeat(3, 1fr);
        column-gap: 0.5rem;
        >div {
            width: 100%;
            justify-content: center;
            align-items: center;
            background: var(--secondary-background);
            box-shadow:  0px 0px 9px 0px rgba(0, 0, 0, 0.35);
        }
    }

    #project-row-1 {
        svg {
            height: 2rem;
            width: auto;
            filter: drop-shadow(0 5px 2.5px rgba(0, 0, 0, 0.5));
        }

        div {
            gap: 1rem;
            box-sizing: border-box;
            padding: 1rem;
            justify-content: center;
            align-items: start;
            p:nth-of-type(1) {
                font-size: 1.5rem;
            }

            p:nth-of-type(2), a {
                font-size: 0.8rem;
            }
        }
    }

    #project-cell-2 {
        background: var(--font-red);
    }

    #project-cell-4 {
        background: none;
        box-shadow:  0px 0px 0px 0px rgba(0, 0, 0, 0.2);
        h1 {
            font-size: 6rem;
            color: var(--font-red);
        }
    }

    #project-cell-5, #project-cell-6 {
        background: var(--primary-background);
        grid-template: auto / 1fr;
        row-gap: 0.5rem;
        >div {
            gap: 0.5rem;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            background: var(--secondary-background);
            h1 {
                color: var(--font-red);
            }
        }
    }
}

@media (max-width: 768px) {
    #product {
        overflow-x: hidden;

        >div {
            width: 100vh;
            
            padding: 0rem 2rem;
            box-sizing: border-box;
        }

        #project-row-1 {
            gap: 1rem;
            width: 520px;
            div{
                gap: 0.7rem;
                p:nth-of-type(1) {
                    font-size: 1rem;
                }

                p:nth-of-type(2), a {
                    font-size: 0.6rem;
                }
            }
        }

        #project-cell-4 {
            h1 {
                font-size: 2rem;
            }
        }

        #project-cell-5, #project-cell-6 {
            >div {
                h1 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 0.7rem;
                }
            }
        }

        #project-row-2 {
            width: 90%;
        }
    }

    #project-cell-2 {
        transform: scale(1.1);
    }

}

@media (max-width: 425px) {
    #product {

        #project-row-1 {
            div{
                gap: 0.7rem;
            }

        }

        #project-cell-4 {
            h1 {
                font-size: 2.5rem;
            }
        }

        #project-cell-5, #project-cell-6 {
            >div {
                h1 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.6rem;
                }
            }
        }

        #project-row-2 {
            width: 80%;
        }
    }

}

@media (max-width: 375px) {
    #product {
        #project-cell-4 {
            p {
                font-size: 0.7rem;
            }
        }

        #project-cell-5, #project-cell-6 {
            >div {
                h1 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.6rem;
                }
            }
        }

        #project-row-2 {
            width: 70%;
        }
    }

}