#project {
    height: 100vh;
    align-items: center;
    padding: 3rem 2rem 0rem 2rem;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    background: var(--primary-background);
    position: sticky;
    top: 0px;
    
    >div:nth-of-type(1) {
        height:  80%;
        width: 100%;
        z-index: 1;
        grid-auto-flow: column; /* Force horizontal flow */
        /* grid-auto-columns: max-content; Columns size to fit content */
        column-gap: 1rem;
        > div {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            background: var(--secondary-background);
            box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }
    }

    >div:nth-of-type(2) {
        position: absolute;
        z-index: 0;
        background: var(--secondary-background);
        height: 50%;
        width: 100%;
        /* margin-top: 50%; */
        bottom: 0;
    }
}

@media (max-width: 768px) {
    #project {
        overflow-x: hidden;
        >div:nth-of-type(1) {
            width: 704px;
        }
    }

}
