:root{
    --primary-background: rgb(26, 26, 26);
    --secondary-background: rgb(41, 41, 41);
    --primary-blue: #91c1ff;
    --font: white;
    --font-red: rgb(229, 3, 3);
    --green: #42ba2a;
    --hover-green: rgba(42, 176, 69, 0.674);;
    --border: #dddfe2;
    --navHeight: 2.5rem;
    --fontGray: #818488;
    --iconBlue: #228DFB;
    --mheight: 51vh;
    --footer-height: 4rem;
}

* {
    padding: 0; 
    margin: 0;
    border: 0;
}

#body {
    height: 100vh;
    background: var(--primary-background);
    color: var(--font);
}

.font-welcome {
    font-family: "Edu SA Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-head {
    font-family: "Edu SA Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-body {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.opacity {
    filter: blur(10px);
    
}

.rnd-edg {
    border-radius: 0.5rem;
}

.rnd-shd {
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.rnd-bdr {
    border: 1px var(--border) solid;
}

.full-ratio {
    height: 100%;
    width: 100%;
}

.bdr-bx {
    box-sizing: border-box;
}

.pri-bg {
    background: var(--primary-background);
}

.sec-bg {
    background: var(--secondary-background);
}

.hd {
    display: none;
}

.grd {
    display: grid;
}

.flx {
    display: flex;
}

.in-flx {
    display: inline-flex;
}

.flx-drc {
    flex-direction: column;
}

.aln-cnt {
    align-content: center;
}

.jst-cnt {
    justify-content: center;
}

.aln-slf-cnt {
    align-self: center;
}

.jst-slf-cnt {
    justify-self: center;
}

.jst-sp-btwn {
    justify-content: space-between;
}

.unclickable {
    pointer-events: none;
}