#Welcome {
    height: 100%;
    justify-content: center;
    align-self: center;
    text-align: center;
    gap: 0.5rem;    
}

.wel-fontsz1 {
    font-size: 2rem;
}

.wel-fontsz2 {
    font-size: 3rem;
}